/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* Add other regular mode styles */
}

/* Dark mode styles */
body.dark-mode {
  background-color: #3d3939; /* Dark background color */
  color: #060606; /* Light text color */
  /* Add other dark mode styles */
}

body.dark-mode .card {
  background-color: rgb(62, 92, 100);
  color: #fff;
}

body.dark-mode .container {
  background-color: #3d3939;
  color: #fff;
}

body.dark-mode .collection-of-prompts {
  background-color:rgb(62, 92, 100);
  color: #fff;
}

body.dark-mode #app-topper {
  background-color: #3d3939;
}

/* Password toggle in edit.html.erb */
.hide {
  display: none;
}

.show {
  display: block;
}

/* Card styles */
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.collection-of-prompts.dark-mode {
  background-color: #222;
  color: #fff;
}

.card img {
  max-width: 100%;
  height: auto;
}

.divider {
  width: 100%;
  border: 1px solid #ccc;
  margin: 20px 0;
}

.artist-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-left: 20px;
}

.login-header {
  margin-bottom: 10px;
}

.login-header-italics {
  margin-bottom: 20px;
}

.form-group {
  max-width: 300px;
  margin-bottom: 15px;
}

.form-label {
  display: flex;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.signup-link {
  margin-top: 10px;
}

.custom-bg-opacity {
  background-color: rgba(255, 255, 255, 0.2); /
}

#app-footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}