/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  /* Add other regular mode styles */
}

/* Dark mode styles */
body.dark-mode {
  background-color: #222; /* Dark background color */
  color: #fff; /* Light text color */
  /* Add other dark mode styles */
}

/* Password toggle in edit.html.erb */
.hide {
  display: none;
}

.show {
  display: block;
}

/* Card styles */
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 5px 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #524e4e;
  border: 1px solid #000;
  border-radius: 9px;
}

.btn:hover {
  background-color: #34b492;
}

.divider {
  width: 100%;
  border: 1px solid #ccc;
  margin: 20px 0;
}

