#home-container {
  height: 100vh; /* Full viewport height */
  background: linear-gradient(45deg, #b7906f, #907886, #889294, #9aabc7);
  background-size: 400% 400%; /* Increase size for smooth transition */
  animation: gradientAnimation 10s infinite; /* Adjust duration as needed */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
